*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:'Inter', sans-serif;
background:#0b0f14;
color:#ffffff;

}


/* HEADER */

.header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 80px;

background:#0b0f14;

border-bottom:1px solid #1a2530;

}

.logo{

font-size:28px;
font-weight:700;

background:linear-gradient(90deg,#7b61ff,#ff61c7);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}

.menu{

display:flex;
gap:30px;

}

.menu a{

color:#c8d0d8;
text-decoration:none;

}

.phone{

color:#c8d0d8;

}


/* CATALOG */

.catalog{

padding:60px 80px;

}

.catalog-title{

font-size:46px;
margin-bottom:20px;

}

.search{

width:350px;

padding:12px;

border:none;

border-radius:8px;

background:#0f2534;
color:white;

margin-bottom:40px;

}


/* LAYOUT */

.catalog-layout{

display:flex;
gap:40px;

}


/* CATEGORIES */

.categories{

background:#0f2534;

border-radius:14px;

padding:24px;

width:200px;

border:1px solid #1c394c;

}

.categories h3{

margin-bottom:18px;

font-size:18px;

}

.categories div{

padding:6px 0;

cursor:pointer;

color:#9fb0bd;

}

.categories div:hover{

color:#caa96b;

}



/* GRID */

.catalog-grid{

display:grid;

grid-template-columns:
repeat(auto-fill,minmax(280px,1fr));

gap:28px;

width:100%;

}



/* CARD */

.product-card{

background:#0f2534;

border-radius:14px;

padding:20px;

border:1px solid #1c394c;

transition:0.2s;

}

.product-card:hover{

transform:translateY(-4px);
border-color:#caa96b;

}

.product-img{

width:60px;

margin-bottom:12px;

}

.product-type{

font-size:12px;

color:#7a96a8;

margin-bottom:6px;

}

.product-name{

font-size:18px;

font-weight:700;

}

.product-name-ru{

font-size:15px;

color:#9fb0bd;

margin-top:6px;

}

.product-style{

font-size:14px;

color:#7a96a8;

margin-top:6px;

}

.product-price{

font-size:20px;

font-weight:700;

margin-top:10px;

}

.btn-card{

margin-top:10px;

background:#caa96b;

border:none;

padding:8px 14px;

cursor:pointer;

}